{% extends 'student/home.html' %}


{% block header %}
    <h1>{% block title %}Visualization{% endblock %}</h1>
{% endblock %}


{% block content %}
    <div class = "Cards">
        <p>Student Performance</p>

        <!---------------------------------------->
        <!--------Display visualization here------>
        <!---------------------------------------->
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Polar Area Chart</h5>
                    <h6 class="card-subtitle text-muted">Your performance on each CILO</h6>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="chartjs-polar-area"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <a href="\student\courseMain"><button type="button" class="btn btn-primary mb-2">Back</button></a>
    </div>
{% endblock %}
{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Line chart
            new Chart(document.getElementById("chartjs-line"), {
                type: "line",
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: "CILO1",
                        fill: true,
                        backgroundColor: "transparent",
                        borderColor: window.theme.primary,
                        data: [2115, 1562, 1584, 1892, 1487, 2223, 2966, 2448, 2905, 3838, 2917, 3327]
                    }, {
                        label: "CILO2",
                        fill: true,
                        backgroundColor: "transparent",
                        borderColor: "#87ceeb",
                        data: [958, 724, 629, 883, 915, 1214, 1476, 1212, 1554, 2128, 1466, 1827]
                    }, {
                        label: "CILO3",
                        fill: true,
                        backgroundColor: "transparent",
                        borderColor: "#b0c4de",
                        data: [233, 233, 233, 232, 232, 235, 231, 238, 141, 121, 326, 137]
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    tooltips: {
                        intersect: false
                    },
                    hover: {
                        intersect: true
                    },
                    plugins: {
                        filler: {
                            propagate: false
                        }
                    },
                    scales: {
                        xAxes: [{
                            reverse: true,
                            gridLines: {
                                color: "rgba(0,0,0,0.05)"
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                stepSize: 500
                            },
                            display: true,
                            borderDash: [5, 5],
                            gridLines: {
                                color: "rgba(0,0,0,0)",
                                fontColor: "#fff"
                            }
                        }]
                    }
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Polar Area chart
            new Chart(document.getElementById("chartjs-polar-area"), {
                type: "polarArea",
                data: {
                    labels: ["CILO1", "CILO2", "CILO3"],
                    datasets: [{
                        label: "Model S",
                        data: [35, 38, 65],
                        backgroundColor: [
                            window.theme.primary,
                            "#87ceeb",
                            "#b0c4de"
                        ]
                    }]
                },
                options: {
                    maintainAspectRatio: false
                }
            });
        });
    </script>
{% endblock %}






{##}
{#{% extends 'student/home.html' %}#}
{##}
{##}
{#{% block header %}#}
{#    <h1>{% block title %}Visualization{% endblock %}</h1>#}
{#{% endblock %}#}
{##}
{##}
{#{% block content %}#}
{#    <div class = "Cards">#}
{#        <p>Test this page is Student Visualization</p>#}
{##}
{#        <!---------------------------------------->#}
{#        <!--------Display visualization here------>#}
{#        <!---------------------------------------->#}
{##}
{#        <a href="\student\courseMain"><button type="button" class="btn btn-primary mb-2">Back</button></a>#}
{#    </div>#}
{#{% endblock %}#}
{##}
