{% extends 'designer/home.html' %}
{% block header %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1>{{courseInfo.courseName}}</h1>

    </div>
    <div class="card-body">
        <h2>Code: {{courseInfo.courseCode}}</h2>
        <h2>courseType: {{courseInfo.courseType}}</h2>
        <h2>Academic Year:{{courseInfo.academicYear}}</h2>
    </div>
</div>
<div class="card">
        <h5>CILOs Info</h5>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>CILO Num</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                {%for i in CILOs%}
                <tr>
                    <td>CILO {{i.ciloNumber}}</td>
                    <td>{{i.ciloContent}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="col-12 col-xl-4">
        <div class="mt-7 row">
            <a href="\designer\analysis">
                <button type="button" class="btn btn-outline-primary mb-2 btn-lg">
                    <i class="fas fa-check"></i> analysis
                </button>
            </a>
            </br></br></br></br></br></br>
            <a href="\designer\visualization">
                <button type="button" class="btn btn-outline-info btn-lg">
                    <i class="fas fa-info"></i> Visualization
                </button>
            </a>
        </div>
        <div class="mt-7 row">
            </br></br>
            <a href="\designer\searchCourse">
                <button type="button" class="btn btn-outline-danger mb-2 btn-lg">
                    <i class="fas fa-globe-americas"></i> Back
                </button>
            </a>
        </div>
    </div>
</div>

{% endblock %}