{% extends 'designer/home.html' %}
{% block initial %}

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.5.0/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block header %}
    <h1>{% block title %}Edit Assessment{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" id="submitForm">
        <label>Welcome back! Course designer</label>
        <table class="table table-bordered table-hover">
            <tr class="info">
                <td>Evaluation Method</td>
                <td>Percentage</td>
                <td>CILOs</td>
                <td>Operation</td>
            </tr>
            <tr>
                <td colspan="4" class="danger"><button id='add' type='button' class="btn btn-primary btn-sm">ADD</button></td>
            </tr>
        </table>
        <input id="save" type="button" value="Save"/>
        <div></div>
    </form>
{% endblock %}
{% block script %}

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/table.js"></script>
{% endblock %}